<p-orderList
  [value]="list.items"
  [listStyle]="{ 'max-height': '30rem' }"
  [header]="list.name | titlecase"
  filterBy="description"
  filterPlaceholder="Filter by description"
  [dragdrop]="true">
  <ng-template let-item pTemplate="item">
    <div class="item">
      <div class="item-detail">
        <i class="pi pi-tag item-detail__icon"></i>
        <span class="item-detail__description">{{ item.description }}</span>
      </div>
      <div class="item-action">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-text"></button>
      </div>
    </div>
  </ng-template>
</p-orderList>
<div class="add-item">
  <span class="p-input-icon-right w-full">
    <i class="pi pi-plus"></i>
    <input type="text" class="w-full" pInputText />
</span>
</div>

